*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.site-header{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: lawngreen;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #fff;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;

}
.logo-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}
.site-name{
    display: flex;
    justify-content: center;
    width: 80%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 10px;

}
.user-profile{
    width: 10%;
    float: left;
    display: none;

}
.profile-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.signup-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: fit-content;
    background: rgb(196, 193, 193);
    padding: 20px;
    margin: 1% auto;
    border-radius: 10px;
    text-align: center;
}
.signup-header{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    background:  lawngreen;
    text-align: center;
    color: #fff;
}
.input-sec{
    text-align: left;
    color: #fff;
}
.boxes{
    border-radius: 20px;
    padding: 7px;
    width: 95%;
    margin-bottom: 20px;
    outline: none;
}
.signup-home{
    overflow: auto;
}
.signup-button{
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    margin: 3% auto;
    background: lawngreen;
    color: #fff;
}
.google{
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    margin-left: -150px;
    margin-top: 10px;
    background: lawngreen;
    color: #fff;
}
.facebook{
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    margin-right: -150px;
    margin-top: 10px;
    background: lawngreen;
    color: #fff;
}
hr{
    margin: 5%;
}
.or{
    margin-top: -27px;
    margin-left: 117px;
    background: #fff;
    width: 25px;
    color: lawngreen;
}
.login{
    margin: 10% auto;
}

@media only screen and (max-width:620px ) {
    
    .site-header{
        width: 100%;
        position:fixed top;
        z-index: 2;
        border-bottom: solid black 1px;
        color: #fff;
    }
    .signup-header{
        width: 100%;
        padding: 0px;
        margin-top: -20px;
        height: 50px;
        background:  lawngreen;
        background-position: center;
        color: #fff;
    }
    .signup-sec{
        width: 100%;
        margin: 0px;
        border-radius: 5px;
        margin-top: 40px;
        background-color: red;
    }
    .input-sec{
        text-align: left;
        color: #fff;
    }
    .boxes{
        border-radius: 20px;
        padding: 7px;
        width: 95%;
        margin-bottom: 20px;
        outline: none;
    }
    .signup-home{
        overflow: auto;
        width: 100%;
        background:lawngreen;
    }
    .signup-button{
        border-radius: 20px;
        width: 100px;
        padding: 7px;
        margin: 3% auto;
        background: lawngreen;
        color: #fff;
    }
    .google{
        border-radius: 20px;
        width: 100px;
        padding: 7px;
        margin-left: -150px;
        margin-top: 10px;
        background: lawngreen;
        color: #fff;
    }
    .facebook{
        border-radius: 20px;
        width: 100px;
        padding: 7px;
        margin-right: -150px;
        margin-top: 10px;
        background: lawngreen;
        color: #fff;
    }
    hr{
        margin: 5%;
    }
    .or{
        margin-top: -35px;
        margin-left: 210px;
        background: #fff;
        width: 25px;
        text-align: center;
        color: lawngreen;
    }
    .login{
        margin: 10% auto;
    }
}