*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right  top, #247c026c, #7ddf65, #6c7febab, #c765df4d);
}
.site-header{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgb(88, 185, 161);
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;

}
.logo-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}
.site-name{
    display: flex;
    justify-content: center;
    width: 80%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 10px;

}
.user-profile{
    width: 10%;
    float: left;
    display: none;

}
.profile-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.signup-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: fit-content;
    background: linear-gradient(to right  top, #247c026c, #7ddf65, #6c7febab, #c765df4d);;
    padding: 20px;
    margin: 1% auto;
    border-radius: 10px;
    text-align: center;
}
.input-sec{
    text-align: left;
}
.boxes{
    border-radius: 20px;
    padding: 7px;
    width: 95%;
    margin-bottom: 20px;
    outline: none;
}
.signup-home{
    overflow: auto;
}
.signup-button{
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    margin: 3% auto;
}
.google{
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    margin-left: -150px;
    margin-top: 10px;
}
.facebook{
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    margin-right: -150px;
    margin-top: 10px;
}
hr{
    margin: 5%;
}
.or{
    margin-top: -27px;
    margin-left: 117px;
    background: rgb(88, 185, 161);
    width: 25px;
}
.login{
    margin: 10% auto;
}

@media only screen and (max-width:620px ) {
    
    .site-header{
        width: 100%;
        position:fixed top;
        z-index: 2;
        border-bottom: solid black 1px;
    }
    .signup-sec{
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
    .input-sec{
        text-align: left;
    }
    .boxes{
        border-radius: 20px;
        padding: 7px;
        width: 95%;
        margin-bottom: 20px;
        outline: none;
    }
    .signup-home{
        overflow: auto;
        width: 100%;
        background:rgb(88, 185, 161);
    }
    .signup-button{
        border-radius: 20px;
        width: 100px;
        padding: 7px;
        margin: 3% auto;
    }
    .google{
        border-radius: 20px;
        width: 100px;
        padding: 7px;
        margin-left: -150px;
        margin-top: 10px;
    }
    .facebook{
        border-radius: 20px;
        width: 100px;
        padding: 7px;
        margin-right: -150px;
        margin-top: 10px;
    }
    hr{
        margin: 5%;
    }
    .or{
        margin-top: -35px;
        margin-left: 210px;
        background: rgb(88, 185, 161);
        width: 25px;
        text-align: center;
    }
    .login{
        margin: 10% auto;
    }
}