* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: auto 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* color */
.color-navbar {
  background-color: #39A2DB;
}

.color-navbar2 {
  background-color: #A2DBFA;
}

.color-btn {
  background: #053742;
}

/* Button class for all */
.btn {
  border-radius: 0.3rem;
  background-color: transparent;
}

/* navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* Menu */
.menu {
  display: flex;
  margin-right: 1rem;
  pointer-events: 0;
  z-index: 3;
}

.menu button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu .line {
  width: 1.5rem;
  height: 0.1rem;
  background: #fff;
  font-size: 2rem;
  cursor: pointer;
}

/* Brand Name */
.nav-brand {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-search {
  margin-left: auto;
}

.search-form {
  display: flex;
}

.search-input {
  border: none;
  border-radius: 5px 0 0 5px;
  display: none;
  width: 18rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  outline: none;
}

.search-input:focus, .search-input:focus+.search-btn {
  border: 0.1rem solid #053742;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
}

.shopping-cart {
  color: #053742;
  font-size: 1.5rem;
  margin: auto 1rem;
}

.nav-login, .nav-signup {
  display: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 0.5rem;
}

.nav-login:hover, .nav-signup:hover {
  text-decoration: underline;
}

/* menu */
.profile-wrapper {
  background-color: #39A2DB;
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.user-profile {
  text-align: right;
  margin: 0.5rem 1rem;
}

.profile-img {
  border-radius: 50%;
  margin: auto 0;
  width: 50px;
}

.profile-settings {
  margin: auto 3rem;
}

.user-name {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.profile-list {
  font-size: 1.5rem;
  color: #fff;
}

.profile-list li {
  padding: 0.5rem 0;
}

.profile-list li a {
  color: #fff;
}

/* product cartigory section */
.product-cartigory {
  display: flex;
}

.cartigory-wrapper-phone {
  display: flex;
  align-items: center;
  margin: auto 1rem;
  width: 100%;
  padding: 0.5rem;
}

.cartigory-wrapper-phone li {
  width: 100%;
}

.filter {
  text-align: left;
}

.filter a {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.nav-login-phone {
  margin-left: 10%;
}

.nav-login-phone, .nav-signup-phone {
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5rem;
}

.cartigory-wrapper {
  display: none;
}

/* product cards */
.product-container {
  display: flex;
}

.cards-container {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 2rem 0;
}

.cards-item {
  border: solid;
  border-radius: 0.3rem;
  display: flex;
  margin-bottom: 0.5rem;
  width: 45%;
  padding: 0.5rem;
}

.img-container {
  border: solid red;
  float: left;
  width: 45%;
  height: fit-content;
}

.product-img {
  width: 100%;
}

.cards-details {
  border: solid;
  color: #000;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.product-name {
  font-weight: 600;
  padding-bottom: 0.5rem;
}
