<<<<<<< HEAD
* {
=======
*{
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    
}
/*colors*/

.color-navbar{
    background: #39A2DB;
  }
  .color-navbar2{
    background:#A2DBFA;
  }
  .color-btn{
    background: #053742;
  }

.site-header{
    display: flex;
    justify-content: center;
    height: 3.75rem; 
    padding-top: 0.3.125rem; 
    padding-left: 0.3.125rem;
    padding-bottom: 0.3.125rem;  
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    float: left;   
}

.logo-img{
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
}

.site-name{
    display: flex;
    align-items: center;
    width: 70%;
    float: left;
    padding: 0.5rem;
    text-align: center;
    color: #fffeff;
    font-size: 0.9rem;
    font-weight: 600;

}
nav{
    width: 70%;
    float: left;
    display: flex;
    justify-content: flex-end;
    margin-left: 0.5rem;    
}
nav .nav-links{
    list-style: none;
    display: flex;
    align-items: center; 
    margin: 5px;   
}
nav .nav-links li{
    width: 2.7rem;
    margin-left: 0.5rem;
    background: #3131316c;
    text-align: center;
    border-radius: 0.3125rem;
    
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
   
    font-size: 0.6rem;
}

.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    float: left;    
}

.profile-img{
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
/* search contaniner */
#search-contaniner{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0.2rem;
}
#search-contaniner span{
    display: flex;
    justify-content: center;
    width: 90%;
}
#search-contaniner input{
    width: 80%;
    height: 2rem;
    border-radius: 0.3125rem 0 0 0.3125rem ;
    padding: 0 0.35rem;
    font-size: 1rem;
    border: 0.1rem solid limegreen;
    outline: none;
}
#search-contaniner input:hover{
    background: rgb(220, 241, 220);
}
#search-contaniner input:focus{
    border-color: 0.1rem limegreen;
    box-shadow: inset 2px 0px 0px 2px rgba(50, 205, 50, 0.199);
}
#search-contaniner .search-btn{
    width: 10%;
    height: 2rem;
    background: limegreen;
    border: none;
    border-radius: 0 0.3125rem 0.3125rem 0 ;
    
}
#search-contaniner .search-btn i{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
#search-contaniner .search-btn i:hover{
    color:#000;
}
/* login contaniner */
.main-home{
    overflow: auto;
}
.user-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 90px;
    padding: 0px;
}

.user-wrapper span{
    display: none;
    width: 0%;
    height: 0%;
}

.user-section form .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    width: 70%;
    height: 90px;
    float: left;
    padding: 0 10px;
}

form .row .username input{
    display: flex;
    justify-content: center;
    outline: none;
    padding-left: 40px;
    border-radius: 5px;
    border: 0.1rem solid limegreen;
    width: 18.75rem;
    height: 1.875rem;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: 0.1rem limegreen;
    box-shadow: inset 0px 0px 2px 2px rgba(50, 205, 50, 0.199);
}
form .row .username{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    
}

form .row .username i{
    position: absolute;
    padding: 7px 0px 0px 10px;
    background: limegreen;
    color: #fff;
    height: 1.875rem;
    width: 2.1875rem;
    border-radius: 5px 0 0 5px;
}

form .row .username input:hover{
    background: rgb(220, 241, 220);
    
}
form .row .username input:hover::placeholder{
    color: rgb(92, 90, 90);
}

.user-section form .button-row{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 5.625rem;
    float: left;
}

form .button-row button{
    width: 3.7rem;
    height: 1.875rem;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3125rem;
    background: limegreen;
    color: #fff;    
}
form .button-row button:hover{
    background: linear-gradient(
    to right bottom,
    rgba(111, 248, 83, 0.7),
    rgb(0, 245, 20));
}

/*forgot password*/
.user-wrapper section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0;
    width: 100%;
}
.user-wrapper .forgot{
    width: 35%;
    text-align: center;
}
.user-wrapper .forgot a{
    text-decoration: none;
    color: limegreen;
    font-size: 1rem;
    font-weight: 500;
}
.user-wrapper .forgot a:hover{
    text-decoration: underline;
}

/*login with facebook or google*/
.user-wrapper .fg{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    list-style: none;
}
.user-wrapper .fg li button{
    width: 5.5rem;
    height: 2rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}
.user-wrapper .fg .facebook button{
    border: 0.1rem solid #4267B2;
    background: #4267B2;
}
.user-wrapper .fg .google button{
    background: #DB4437;
    border: solid 0.1rem #DB4437
}
.user-wrapper .fg li button:hover{
    background: #fff;
}
.user-wrapper .fg li button i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    height: 100%;
}
.user-wrapper .fg .google button i:hover{
    color: #DB4437;
}
.user-wrapper .fg .facebook button i:hover{
    color: #4267B2;
}

/* cartigory contaniner */
.cartigory{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 76vh;
    padding: 0px;
}

.cards, .cards2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    position: relative;
}
.cards img, .cards2 img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
    
}
.cards label, .cards2 label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(2, 2, 2);
    cursor: pointer;
    background: linear-gradient(
        to right bottom,
        rgba(178, 253, 196, 0.226),
        rgb(137, 253, 108));;
}

.cartigory .cards label:hover, .cards2 label:hover{
    background:linear-gradient(
        to right bottom,
        rgba(238, 238, 238, 0.7),
        rgba(212, 156, 119, 0.5));
}
footer{
    display: flex;
    height: 4vh;
    justify-content: center;
    background: limegreen;
}
=======
>>>>>>> 93e85e095394437f2adbca29d1c81533f2888396
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: auto 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* color */
.color-navbar {
  background-color: #39A2DB;
}

.color-navbar2 {
  background-color: #A2DBFA;
}

.color-btn {
  background: #053742;
}

/* Button class for all */
.btn {
  border-radius: 0.3rem;
  background-color: transparent;
}

/* navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* Menu */
.menu {
  display: flex;
  margin-right: 1rem;
  pointer-events: 0;
  z-index: 3;
}

.menu button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu .line {
  width: 1.5rem;
  height: 0.1rem;
  background: #fff;
  font-size: 2rem;
  cursor: pointer;
}

/* Brand Name */
.nav-brand {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-search {
  margin-left: auto;
}

.search-form {
  display: flex;
}

.search-input {
  border: none;
  border-radius: 5px 0 0 5px;
  display: none;
  width: 18rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  outline: none;
}

.search-input:focus, .search-input:focus+.search-btn {
  border: 0.1rem solid #053742;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
}

.shopping-cart {
  color: #053742;
  font-size: 1.5rem;
  margin: auto 1rem;
}

.nav-login, .nav-signup {
  display: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 0.5rem;
}

.nav-login:hover, .nav-signup:hover {
  text-decoration: underline;
}

/* menu */
.profile-wrapper {
  background-color: #39A2DB;
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.user-profile {
  text-align: right;
  margin: 0.5rem 1rem;
}

.profile-img {
  border-radius: 50%;
  margin: auto 0;
  width: 50px;
}

.profile-settings {
  margin: auto 3rem;
}

.user-name {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.profile-list {
  font-size: 1.5rem;
  color: #fff;
}

.profile-list li {
  padding: 0.5rem 0;
}

.profile-list li a {
  color: #fff;
}

/* product cartigory section */
.product-cartigory {
  display: flex;
}

.cartigory-wrapper-phone {
  display: flex;
  align-items: center;
  margin: auto 1rem;
  width: 100%;
  padding: 0.5rem;
}

.cartigory-wrapper-phone li {
  width: 100%;
}

.filter {
  text-align: left;
}

.filter a {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.nav-login-phone {
  margin-left: 10%;
}

.nav-login-phone, .nav-signup-phone {
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5rem;
}

.cartigory-wrapper {
  display: none;
}

/* product cards */
.product-container {
  display: flex;
}

.cards-container {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 2rem 0;
}

.cards-item {
  border: solid;
  border-radius: 0.3rem;
  display: flex;
  margin-bottom: 0.5rem;
  width: 45%;
  padding: 0.5rem;
}

.img-container {
  border: solid red;
  float: left;
  width: 45%;
  height: fit-content;
}

.product-img {
  width: 100%;
}

.cards-details {
  border: solid;
  color: #000;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.product-name {
  font-weight: 600;
  padding-bottom: 0.5rem;
}
>>>>>>> 888867d558372b130f0361ff53384f28da8dba4a
