*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    
}

.site-header{
    display: flex;
    justify-content: center;
    height: 70px; 
    background-color: rgb(88, 185, 161); 
    padding-top: 5px; 
    padding-left: 5px;
    padding-bottom: 5px;  
}

.main-home{
    overflow: auto;   
    background: linear-gradient(to right  top, #90eb6c6c, #7ddf65, #6c7febab, #c765df4d);
}

.logo{
    display: flex;
    justify-content: center;
    width: 15%;
    float: left;   
}

.logo-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}

.site-name{
    display: flex;
    justify-content: center;
    width: 70%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 10px;
}

.user-profile{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    float: left;    
}

.profile-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 90px;
    padding: 0px;
}

.user-section span{
    display: none;
    width: 0%;
    height: 0%;
}

.user-section form .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    width: 70%;
    height: 90px;
    float: left;
    padding: 0 10px;
}

form .row .username input{
    display: flex;
    justify-content: center;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 30px;
}

form .row .username{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

form .row .username i{
    position: absolute;
    padding: 7px 0px 0px 10px;
    background: chartreuse;
    height: 30px;
    width: 35px;
    border-radius: 5px 0 0 5px;
}

form .row .username input{
    display: flex;
}

form .row .username input:hover{
    background: linear-gradient(to right top, #c765df4d, #e9eb6c5b);
    border: 2px solid linear-gradient(to right top, #e9eb6c, #c765df);
}
form .row .username input:hover::placeholder{
    color: #fff;
}

.user-section form .button-row{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 90px;
    float: left;
}

form .button-row button{
    width: 50px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;    
}

form .button-row button:hover{
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
}

.cartigory{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    padding: 0px;
}

.cards, .cards2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    position: relative;
}
.cards img, .cards2 img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
    
}
.cards label, .cards2 label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(2, 2, 2);
    cursor: pointer;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.226),
        rgba(255, 254, 254, 0.966));;
}

.cartigory .cards label:hover, .cards2 label:hover{
    background:linear-gradient(
        to right bottom,
        rgba(238, 238, 238, 0.7),
        rgba(212, 156, 119, 0.5));
}
footer{
    display: flex;
    height: 4vh;
    justify-content: center;
    background: linear-gradient(to right  top, #90eb6c6c, #7ddf65, #6c7febab, #c765df4d);
}