*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    
}
.site-header{
    display: flex;
    justify-content: center;
    height: 70px; 
    background: #9df78798; 
    padding-top: 0.3125rem; 
    padding-left: 0.3125rem;
    padding-bottom: 0.3125rem;
    color: #fff;
      
}
.main-home{
    overflow: auto;
    background: linear-gradient(to right  top, #247c026c, #7ddf65, #6c7febab, #c765df4d);
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;
   
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
}
.site-name{
    display: flex;
    justify-content: center;
    width: 80%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    
}
.user-profile{
    width: 10%;
    float: left;
    
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.user-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    width: 25%;
    background-color: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    height: 80%;
    padding: 20px;
    
}
.user-section span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}
.user-section form .row{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form .row .username{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: relative;
}
form .row .username i{
    position: absolute;
    padding: 10px 0px 0px 10px;
    background: chartreuse;
    height: 2.5rem;
    width: 2rem;
    border-radius: 5px 0 0 5px;
}
form .row .username input{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;    
}
form .row .username input:hover{
    background: linear-gradient(to right top, #c765df4d, #e9eb6c5b);
    border: 2px solid linear-gradient(to right top, #e9eb6c, #c765df);
}
form .row .username input:hover::placeholder{
    color: #fff;
}
.user-section form .button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
   
}
form .button-row button{
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form .button-row button:hover{
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
}
.cartigory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85vh;
    padding-top: 3rem;
    border: 0.1rem solid rgba(22, 22, 22, 0.774);
    
}
.cartigory  .cards{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
   flex-direction: column;
    background-color: rgb(88, 185, 161);
    border-radius: 0.5rem;
    position: relative;
}
.cartigory .cards-holder2 .cards2{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
    border-radius: 0.5rem;
    position: relative;
}
.cartigory .cards img{
    display: flex;

    width: 15rem;
    height: 14rem;
    
}
.cartigory .cards-holder2 .cards2 img{
    display: flex;
    width: 15rem;
    height: 9.34rem;
}
.cartigory .cards label, .cards2 label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: #000;
    font-size: 100%;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.082),
        rgb(255, 255, 255));;
}

.cartigory .cards label:hover, .cards2 label:hover{
    background:linear-gradient(
        to right bottom,
        rgba(238, 238, 238, 0.7),
        rgba(212, 156, 119, 0.5));
}

footer{
    display: flex;
    height: 4vh;
    justify-content: center;
    background: linear-gradient(to right  top, #90eb6c6c, #7ddf65, #6c7febab, #c765df4d);
}
