*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    
}
.site-header{
    display: flex;
    justify-content: center;
    height: 70px; 
    background-color: rgb(88, 185, 161); 
    padding-top: 5px; 
    padding-left: 5px;
    padding-bottom: 5px;  
}
.main-home{
    overflow: auto;
   
    background: linear-gradient(to right  top, #90eb6c6c, #7ddf65, #6c7febab, #c765df4d);
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;
   
}
.logo-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}
.site-name{
    display: flex;
    justify-content: center;
    width: 80%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 10px;
    
}
.user-profile{
    width: 10%;
    float: left;
    
}
.profile-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    width: 25%;
    background-color: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    height: 80%;
    padding: 20px;
    
}
.user-section span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.user-section form .row{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
form .row .username{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}
form .row .username input{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border: none;
    border-radius: 5px;    
}
form .row .username input:hover{
    background: linear-gradient(to right top, #c765df4d, #e9eb6c5b);
    border: 2px solid linear-gradient(to right top, #e9eb6c, #c765df);
}
form .row .username input:hover::placeholder{
    color: #fff;
}
.user-section form .button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
   
}
form .button-row button{
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form .button-row button:hover{
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
}
.cartigory{
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    position: relative;
    
}
.cartigory > *{ 
    border: solid red;
    

}

.cards1{
    grid-column: 1 / span 3;
    grid-row: 1;
    height: 15rem;
    
}
.cards2{
    grid-column: 1/ span 2;
    grid-row: 3;
}
.cards3{
    grid-row: 2;
    grid-column: 2;
}
.cards4{
    grid-row: 3;
    grid-column: 3;
}
.cards5{
    grid-row: 2;
    grid-column: 3 ;
}
.cards6{
    grid-row: 1;
    grid-column: 4;
}
.cards7{
    grid-row: 2 / span 3;
    grid-column: 4;
}
.cartigory> * img{
    width: 100%;
    height: 100%;
    
}


.cartigory> * label{
    display: flex;
    justify-content: center;
    position: absolute;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.082),
        rgb(255, 255, 255));;
}

.cartigory .cards label:hover{
    background:linear-gradient(
        to right bottom,
        rgba(238, 238, 238, 0.7),
        rgba(212, 156, 119, 0.5));
}

footer{
    display: flex;
    height: 9vh;
    justify-content: center;
    background: linear-gradient(to right  top, #90eb6c6c, #7ddf65, #6c7febab, #c765df4d);
}