*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    
}
.site-header{
    display: flex;
    justify-content: center;
    height: 70px; 
    background:limegreen; 
    padding-top: 0.3125rem; 
    padding-left: 0.3125rem;
    padding-bottom: 0.3125rem;
    color: #fff;
      
}
.main-home{
    overflow: auto;
    height: 85vh;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;
   
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
}
.site-name{
    display: flex;
    justify-content: center;
    width: 80%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    
}
.user-profile{
    width: 10%;
    float: left;
    
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.user-wrapper{
    
    float: left;
    width: 30%;
    
    height: 30rem;
    margin: 2.35rem 0 0 0.5rem; 
    border-radius: 0.5rem;   
}
.user-wrapper .user-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    padding: 1rem;
    border: 0.1rem solid limegreen;   
}
.user-wrapper span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    background: limegreen;
    border-radius: 0.5rem 0.5rem 0 0;
}
.user-section form .row{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
form .row .username{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: relative;
}
form .row .username i{
    position: absolute;
    padding: 10px 0px 0px 10px;
    background: limegreen;
    color: #fff;
    height: 2.5rem;
    width: 2rem;
    border-radius: 5px 0 0 5px;
}
form .row .username input{
    display: flex;
    justify-content: space-around;
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border: 0.1rem solid limegreen;
    border-radius: 5px; 
    transition: all 0.3s ease;   
}
form .row input:focus{
    border-color: 0.1rem limegreen;
    box-shadow: inset 0px 0px 2px 2px rgba(50, 205, 50, 0.199);
}
form .row .username input:hover{
    background: #e7fce25b;
    border: 2px solid linear-gradient(to right top, #e9eb6c, #c765df);
}
form .row .username input:hover::placeholder{
    color: rgb(179, 179, 179);
}
.user-section form .button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4.375rem;
   
}
form .button-row button{
    width: 5rem;
    height: 3.125rem;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    background: limegreen;
    color: #fff;
}
form .button-row button:hover{
    background: lightgreen;
}
.user-wrapper .forgot{
    border: 0.1rem solid limegreen;
    width: 100%;
    height: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
    background: limegreen;
    font-size: 1rem;
    font-weight: 600;
}
.user-wrapper .forgot a{
    text-decoration: none;
    color: #fff;
}
.user-wrapper .forgot a:hover{
    text-decoration: underline;
}
.form{
    display: flex;
    justify-content: center;
}
.cartigory{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 0 0;
    padding: 0.35rem;
    border: none;
    border-radius: 0.5rem;
    background: limegreen;
    
}
.cartigory  .cards{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    
}
.cartigory .cards-holder2 .cards2{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}
.cartigory .cards img{
    display: flex;
    border-radius: 0.5rem;
    width: 15rem;
    height: 14rem;
    
}
.cartigory .cards-holder2 .cards2 img{
    display: flex;
    width: 15rem;
    height: 9.34rem;
}
.cartigory .cards label, .cards2 label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: #000;
    font-size: 100%;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(
        to right bottom,
        rgba(161, 247, 144, 0.082),
        rgb(119, 240, 89));;
}

.cartigory .cards label:hover, .cards2 label:hover{
    background:linear-gradient(
        to right bottom,
        rgba(238, 238, 238, 0.7),
        rgba(212, 156, 119, 0.5));
}

footer{
    display: flex;
    height: 4vh;
    justify-content: center;
    background: limegreen;
    color: #fff;
}
