*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.main-home{
    overflow: auto;
}
.user-section{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 90px;
    padding: 0px;
}
.user-section span{
    display: none;
    width: 0%;

}
.user-section form .row{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 90px;
    float: left;
}
form .row .username input{
    display: flex;
    width: 300px;
    height: 30px;
}
form .row .username{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 10px 0px 10px;
    
}
form .row .username input{
    display: flex;
}
.user-section form .button-row{
    display: flex;
    
    width: 30%;
    height: 90px;
    float: left;
}
form .button-row button{
    width: 50px;
    height: 30px;
    font-size: 10px;
    font-weight: 100;
    
}
/* cartigory*/
.cartigoty{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cartigoty .cards{
    width: 100%;
    flex-direction:column;
}