*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Poppins", sans-serif;
}
footer{
    background-color: paleturquoise;
    height: 10vh;
    text-align: center;
    
}
.head-tab{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    padding: 1px;
    float: left;
    border: solid red;
    border-radius: 50%;
}
.user-section-1{
    background-color: blueviolet;
<<<<<<< HEAD
    
}
.site-name{
    text-align: center;
    
    
}
.user-section-2{
    background-color: rgb(114, 105, 98);
    
   
}
}
.cartigory-section{
    background-color: bisque;    
}
.cards{
    background-color: olive;  
}
.cards-name{
    border: solid red;
      
}
button{
}
input{
    width: 19vh;
    margin-left: 50%;
}
=======
}
.SignUp-sec{
    text-align: center;
}
.text-FN{
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: -130px;
}
.text-Email{
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: -160px;
}
.text-P{
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: -130px;
}
.text-NB{
    margin-top: 0.3px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: -50px;
}
.text-CP{
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: -90px;
}
.Obl{
    margin-top: 0.3px;
    margin-bottom: 1px;
    margin-right: 150px;
    margin-left: -130px;
}
.buts{
    margin-top: 0px;
    padding: 50px;
}
.Terms{
    margin-top: 50px;
}
.LB{
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 100px;
    margin-left: -300px;
}
.RB{
    margin-top: 7px;
    margin-bottom: 1px;
    margin-right: -150px;
    margin-left: 0px;
}
.Boxes{
    width: 350px;
    margin-left: 0px;
}
>>>>>>> 3bd136e3431b94453d18a9ddbabc35b5811ec28d
