*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.site-header{
    display: flex;
    justify-content: center;
    height: 70px; 
    background-color: rgb(88, 185, 161); 
    padding-top: 5px; 
    padding-left: 5px;
    padding-bottom: 5px;  
}
.main-home{
    overflow: auto;
    width: 100%;
    height: 80%;
}
.user-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 40px 10px 10px 10px;
    background-color: rgb(190, 184, 184);
    border-radius: 15px;
    float: left;
    width: 20%;
    height:fit-content;
    margin: 20px;
    
}
div button{
    border: none;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(60, 77, 131);
    color: #fff;
    width: 70px;
    height: 40px;
    cursor: pointer;
}
div input{
    display: flex;
    justify-content: center;
    border: none;
    width: 250px;
    padding: 6px;
    border-radius: 5px;
}
.password,.username{
    padding-top: 20px;
}
.login-but, .signup-but{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 40px;
}

.cartigory{
    display: flex;
    flex:content;
    justify-content: center;
    padding-bottom: 20px;
    flex-flow: row wrap;
    float: left;
    width: 70%; 
    margin: 20px; 
    background-color: slategrey;
    border-radius: 10px;
    overflow: auto;    

}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    color: saddlebrown;
    background-color: sandybrown;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;
   
}
.logo-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
}
.site-name{
    display: flex;
    justify-content: center;
    width: 80%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 10px;
    
}
.user-profile{
    width: 10%;
    float: left;
    
}
.profile-img{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
div img{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    

}
div label{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 200px;
    height: 40px;
       
}
div main{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    font-style: bold;
}
@media only screen and (max-width:920px) {
    .user-section {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin: 0px;
        border-radius: 0px;
        position: fixed;
        margin-top: 70px;
    }
    .cartigory{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        border-radius: 0px;
        margin-top: 140px;
    
    }
    div input{
        width: 200px;
        height: 30;
        margin: 5px;
    }
    .password, .login-but, .signup-but,.username{
        padding: 0px;
    }
    .signup-but{
        margin-top: -30px;
    }
    .cards{
        width: 100%;
        border-radius: 0px;
        margin: 0px;
        margin-bottom: 5px;
    }
    div main{
        display: none;
    }
    div button{
        width: 70px;
        height: 30px;
        margin-top: -70px;
        margin-right: 40px;
    
    }
    .user-profile{
        display: none;
    }
    .site-header{
        width: 100%;
        position:fixed;
        z-index: 2;
    }
    .main-home{
        width: 100%;
        
    }
}
